option_settings:
  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp3  # Set the root volume type
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:ec2:instances:
    InstanceTypes: t3.micro  # Set the instance type
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache  # Optional, use if you're running behind a proxy


