Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t3.micro  # Replace with your desired instance type
        MetadataOptions:
          HttpTokens: required  # Enforce IMDSv2 for security
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeType: gp3

