option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: gp3

  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/xvda=:100:true:gp3

  - namespace: aws:autoscaling:launchconfiguration
    option_name: DisableIMDSv1
    value: true

  - namespace: aws:elasticbeanstalk:environment:capacity
    option_name: EnableSpot
    value: true

